html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/Images/vmb-background.jpeg');
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}



a {
    text-decoration: none;
}

.main-link {
    color: white;
    padding: 5px;
}

.display {
    color: white;
    text-align: center;
    padding-top: 20%;
    margin: 0 auto;
}

.card {
    margin-top: 30%;
    opacity: 0.9;
}

.signup-list {
    text-align: center;
    padding-top: 10%;
    color: white;
}

.bullet-list {
    margin-top:20px;
    color: white;
    display: flex;
    justify-content: center;

}

.bullet-list > ul {
    list-style-type: none;
}